# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.env
.venv
env/
venv/

# Logs & traces
logs/
orka_logs/
orka_trace_*.json

# Compiled
*.egg-info/
dist/
build/

# Editor/IDE
.vscode/
.idea/
.DS_Store

# Jupyter
.ipynb_checkpoints/

# OS/system
Thumbs.db

# Backup
*.rdb